* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
}



body {
	background-color: #1d3747;
	height: 100%;
}

footer {
	background-color: #269268;
}

h1 {
	font-size: 175px;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: bolder;
}

h2 {
	font-size: 32px;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: lighter;
	margin-top: 5px;
}

h3 {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: center;
	color: white;
}

p {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
	font-weight: lighter;
	color: white;
}

a, a:visited, a:active {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #7dcb45;
	text-decoration: none;
}

input, textarea {
	width: 90%;
	border: 2px solid #269268;
	border-radius: 4px;
	margin: 10px;
	resize: none;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	height: 30px;
}

.body-section {
	color: black;
	display: inline-block;
	padding: 80px 20px 40px 20px;
}

.v-align {
	position: relative;
	top: 50%;
	transform: translateY(-100%);
	text-align: center;
}

.center {
	text-align: center;
	margin: 0px auto;
	float: none;
}

.footer h2 {
	font-size: 16px;
}

/* HEADER */
header {
	color: white;
	height: 100vh;
	background: url('../images/background.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.intro {
	padding-top: 10%;
}

.name {
	margin: 0px;
	color: #e8e8e8;
	line-height: .8em;
}

.title {
	margin: 0px;
	color: #7dcb45;
}

.nav-bar {
	background-color: #222;
	opacity: .98;
	height: 50px;
	top: 0;
	position: fixed;
	z-index: 1030;
	padding-top: 5px;
	text-align: right;
}

.sticky {
	margin-top: 10px;
}

.sticky h2 {
	margin-top: 5px;
}

.sticky-name {
	text-align: left;
}

.sticky-button {
	font-size: 20px;
	color: white;
	padding: 0px 10px;
	display: inline-block;
	text-align: center;
}

.sticky-button a:hover {
	color: #7dcb45;
}

.nav-button {
	font-size: 20px;
	padding: 5px;
	line-height: 1;
	color: white;
}

/* */

/* ABOUT SECTION */
.about {
	background-color: #1d3747;
	color: white;
	min-height: 100vh;
}

.about-pic {
	max-width: 325px;
	max-height: 325px;
	border-radius: 100%;
	padding: 20px;
}

.about-info {
	padding: 20px;
	text-align: justify;
	margin-bottom: 40px;
}

.about-skills {
	padding: 20px;
}

.skill-tile {
	display: inline-block;
	background-color: #269268;
	box-shadow: 3px 3px 5px 0px black;
	font-size: 16px;
	padding: 15px;
	color: white;
	text-align: center;
	border-radius: 5px;
}
/* */


/* PROJECTS SECTION */
.projects {
	background-color: #1d3747;
	min-height: 100vh;
}

.project-info {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 60px 15px 25px 15px;
	padding: 10px;
	font-size: 16px;
	overflow: hidden;
}

.project-link {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 3px;
}

.project-img {
	width: 100%;
	height: 100%;
	display: block;
}

.project-tile {
	padding: 0px;
	box-shadow: 3px 3px 5px 0px black;
}

.project-tile:hover .overlay {
	opacity: .9;
}


/* overlay */
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: .4s ease-out;
	background-color: #222;
	color: white;
	padding: 20px;
}

.overlay-content {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	width: 100%;
}

.overlay-content h3 {
	font-size: 30px;
	margin-top: 0px;
}

.overlay button {
	color: black;
	font-weight: bold;
    margin: 5px 10px;
    font-size: 16px;
    padding: 4px 10px;
    background-color: white;
    border-radius: 20px;
    border-style: none;
}

.overlay button:hover {
	background-color: #7dcb45;
	color: white;
}

.overlay button a {
	color: black;
	text-decoration: none;
}

.overlay button a:hover {
	color: white;
	background-color: #7dcb45;
}


/*
.live-button a, .live-button a:visited, .live-button a:active {
	color: black;
	text-decoration: none;
}
*/

/* modal background */
.modal {
    display: none;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* modal box */
.modal-content {
    background-color: #fbfbfb;
    margin: 5% auto; 
    padding: 15px 20px 20px 20px;
    border-radius: 10px;
    width: 75%; 
}

.modal-content p{
	color: #222;
	margin-top: 20px;
}

.modal-img {
	width: 100%;
}

/* close button */
.close {
    color: #222;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* */


/* CONTACT SECTION */
#input-message {
	height: 150px;
}

#input-submit {
	width: 75px;
	-webkit-appearance: none;
}

.contact {
	background-color: #222;
	min-height: 100vh;
}

.contact-buttons {
	margin-top: 117px;
	margin-bottom: 40px;
	transform: translateY(-50%);
	display: flex;
	padding: 0px;
}

.contact-button {
	height: 50px;
	width: 50px;
	margin: 5px auto;
}

.contact-button:hover {
	color: #269268;
}

.contact-form {
	border-left: solid white 2px;
}

.button-img {
	height: 50px;
	width: 50px;
}
/* */

/* RESPONSIVE */
@media screen and (max-width: 768px) {
	h1 {
		font-size: 115px;
	}
	h2 {
		font-size: 25px;
	}
}
@media screen and (max-width: 991px) {
	.contact-form {
		border-left: none;
	}
	.contact-buttons {
		margin-top: 0px;
	}
}
@media screen and (max-width: 330px) {
	.project-info {
		font-size: 14px;
	}
}
@media screen and (min-width: 1200px) {
	.overlay button {
	color: black;
	margin: 15px;
	}
}

/* */